<h1>Art & Literary Products</h1>
<%= paginate @products %>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name.titleize %></td>
    <td><%= product.description %></td>
    <td><%= product.user.email %></td>
    <td><%= link_to 'Show', product %></td>
    <% if is_allowed(product.user.id) %>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
