<div id="notice"><%= notice %></div>
<div class="page-header">
  <h1>Art & Literary Products</h1>
</div>

<div class="product-name">
  <h2><strong><%= @product.name.titleize %></strong></h2>
</div>
<div class="form-actions">
  <div class="product-description">
    <h3>Description:</h3>
    <p><%= @product.description %></p>
  </div>
  <div class="product-attachments">
    <h3>Image:</h3>
    <% @product.attachments.each do |attachment| %>
      <%= image_tag attachment.photo.url(:medium) %>
    <% end %>
  </div>
  <div class="product-reviews">
    <h3>Comments:</h3>
    <div class='comment-page'>
      <%= render @comments %>
    </div>
    <h2> Add a comment </h2>
    <%= render 'comments/form' %>
  </div>
</div>

<% if is_allowed(@product.user.id) %>
  <%= link_to t('.edit', default: t("helpers.links.edit")), edit_product_path(@product), class: 'btn btn-sm btn-success' %>
<% end %>
<%= link_to t('.back', default: t("helpers.links.back")), products_path, class:'btn btn-sm btn-info'  %>
