<div id="notice"><%= notice %></div>

<div>
  <b>Name:</b>
  <%= @product.name %>
</div>

<div>
  <b>Description:</b>
  <%= @product.description %>
</div>

<div>
  <b>Image:</b>
  <% @product.attachments.each do |attachment| %>
    <div>
      <%= image_tag attachment.photo.url(:medium) %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
