<% if user_signed_in? %>
  <li>
    <%= link_to 'Home', products_path %> |
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> |
    <%= 'Signed in as:   ' %><%= current_user.email %>
  </li>
<% end %>
